
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Hello !</h1>
    </div>
    <div class="intro">
        <h1>My favourite song is Wide Open Road by The Triffids</h1>
        <h1 class="typing"></h1>

    </div>


    <iframe width="481" height="361" src="https://www.youtube.com/embed/7N5akOOlGTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>








</div>
